/* Page-specific styling */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* bottom = footer height */
}


#headerHome {
    background-color: #24a652;
    position: sticky;
    text-align: center;
    padding: 10px;
}
#welcomeNote{
    text-align:center;
}

#generalFunctionCard div {
        background-color: #fcfcfa;
       
    }
#headerScnd {
    background-color: #ace8b7;
    position: sticky;
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
}

.card {
    margin: 10px;
    padding: 1px
}
.card-body {
    flex: 1 1 auto;
    padding: 0rem 0rem;
    margin-left:10px
}
#chatgptPage{
    margin-top:2%
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-icon {
    float: right;
    margin-right:10px;
    
}
#logIcons{
    display:flex;
    align-items:center;
    margin-bottom:10px
    
}
    #logIcons i {
        padding: 10px;
        background-color: green;
        border-radius: 30px;
        margin: 7px;
        color:white;
    }
#googleSignin{

    display:flex;
    align-items:center;
    justify-content:center;
}
#info{
    margin-top:5px;
}
#info h6{
    padding-left:10px;
}
#info p {
    padding-left: 10px;
    font-weight:100;
}
#img img{
    padding-left:5px;
    width:90%;
}
#formula p {
    font-weight: 400;
    padding-left: 10px;
}
#formula h6 {
    margin-top: -12px;
    padding-left: 10px;
}


